body {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #444444;
  }
  
  ul {
    margin: 0;
  }
  
  .bg-steel {
    background-color: #51626e;
  }
  
  .site-header .navbar-nav .nav-link {
    color: #cbd5db;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
    

  }
  
  .article-title {
    color: #444444;
  }
  
  a.article-title:hover {
    color: #428bca;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 95px;
    width: 95px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }

  .like {
    display: inline-flex;
    height: auto;
    width: auto;
    padding: 2.5px;
    background: rgb(251, 0, 126);
    border: none;
    outline: none;
    border-radius: 2.5px;
    overflow: hidden;
    font-family: 'Quicksand', sans-serif;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
  }

  .like:hover{
    background: rgb(185, 0, 93)
  }

  .like__icon,
  .like__text {
    display: inline-flex;
    align-items: center;
    padding: 0 12px;
    color: white;
    height: 100%;
  }
  .comment {
    display: inline-flex;
    height: auto;
    width: auto;
    padding: 2.5px;
    background: rgb(0, 130, 251);
    border: none;
    outline: none;
    border-radius: 2.5px;
    overflow: hidden;
    font-family: 'Quicksand', sans-serif;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
  }

  .sidebar {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }

  .username {
    font-size: x-large;
    font-family: Helvetica, Arial, sans-serif;
  }

  .find {
    text-align: center;
  }

  .search {
   
    height: auto;
    width: auto;
    padding: 2.5px;
    background: gray;
    border: none;
    outline: none;
    border-radius: 2.5px;
    overflow: hidden;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    color: white;
  }

  .search__icon,
  .search__text {
    display:inline;
    align-items: left;
    padding: 0 12px;
    color: white;
    height: 100%;
    font-size: 18px;
  }

  .contact {
    font-size: 16px;
  }

  .img {
    max-width: 100%;
    height: auto;
  }

  .search-results {
    text-align: center;
    font-family:  Helvetica, Arial, sans-serif;
    font-size: x-large;
  }

  


  