{% extends "blog/base.html" %}
{% block content %}
<div class="content-section">
    <h3>About</h3>
    <hr>
    <p class='text-muted'>
        &nbsp;&nbsp;&nbsp;&nbsp;This is a blog made by Ayman for the students of the class of 
        2024 of Harare International School for the purpose of using this blog as a way to 
        share thoughts on different topics among the students of the class.
    </p>
    <hr>
    <p class='text-muted'>
        &nbsp;&nbsp;&nbsp;&nbsp;This blog is made using the programming language of Python and 
        using a framework of python called Django. It is using bootstrap as a library for html
        and css. In order to store the server in the internet, this blog will be using AWS S3 
        bucket to store the files required for the server to run. It uses Heroku for deploying 
        the server online so that it is accessible to the people of the class.
    </p>
    <hr>
    <p class='text-muted'>
        &nbsp;&nbsp;&nbsp;&nbsp;This blog has a lot of useful features. This include being able
        to create, delete, update a post. There is also functionality to like and comment on a
        post. But in order to do any of that, you need to be logged in and this is to make sure
        that not anyone can have access to the blog if they wanted. When logged in a profile is 
        created and a profile picture can be set for that user. There is also a rich text editor
        for formatting text and images can be added to posts as well. Last but not least, there
        is also functionality for a search bar and also pagination so that all the posts are not
        loaded in the same page.
    </p>
    <hr>
    <p class="text-muted">
        &nbsp;&nbsp;&nbsp;&nbsp;This blog also has a lot of security features in order to keep 
        hackers from being able to hack the website. This uses Cross Site Referencing Token (CSRF 
        token) as a layer of security and uses django which is also knows form its security. This
        blog also has a help page where users can use social media, email to contact Ayman about
        this blog.
    </p>
</div>
    
{% endblock content %}






