{% extends "blog/base.html" %}
{% block content %}

<div class="profile">
    <article class="media content-section">
        <img class="rounded-circle article-img "src="{{ post.author.profile.image.url }}">
        <div class="media-body">
            <div class="article-metadata">
                <a class="username" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
                <small class="text-muted">{{ object.date_added|date:"F d, Y" }}</small>
                
            </div>
        <h2 class="article-title">{{ post.title }}</h2>

        {% if post.header_image %}
            <img src="{{ post.header_image.url }}" alt="The image failed to load" class="img">
        {% endif%}

        <p class="article-content">{{ object.content|safe }}</p>
        </div>
</div>        

        {% if post.author == user %}
                <div>
                    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' post.id %}">Update</a>
                    <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' post.id %}">Delete</a>
                </div>
                <br>

        {% endif %}
        
        
        <form action="{% url 'like-post' post.pk %}" method="POST">
            {% csrf_token %}
        
            
            {% if user.is_authenticated %}
                {% if user in post.likes.all %}
                <button type="submit", name="post_id", value="{{ post.id }}", class="unlike">
                    <span class="like__icon">
                        <ion-icon name="heart-dislike"></ion-icon>                    
                    <span class="like__text">{{ total_likes }}</span>
                </button>
                {% else %}
                <button type="submit", name="post_id", value="{{ post.id }}", class="like">
                    <span class="like__icon">
                        <ion-icon name="heart"></ion-icon>                    
                    <span class="like__text">{{ total_likes }}</span>
                </button>
                {% endif %}

            {% else %}
                <button type="submit" name="post_id" value="{{ post.id }}" class="like" disabled>
                    <span class="like__icon">
                        <ion-icon name="heart"></ion-icon>                    
                    <span class="like__text">{{ total_likes }}</span>
                </button>
            {% endif %}
            <br>
            <br>
        
        </form>
        
        
        {% if user.is_authenticated %}
        <form method="get" action="{% url 'post-comment' post.pk %}">
            <button class="comment-button">
                <span class="like__icon">
                    <ion-icon name="chatbox"></ion-icon>
                </span>
            </button>
        </form>
        {% else %}
        <form method="get" action="{% url 'post-comment' post.pk %}">
            <button class="comment-button" disabled>
                <span class="like__icon">
                    <ion-icon name="chatbox-ellipses"></ion-icon>
                </span>
            </button>
        </form>
        {% endif %}
        <br><br>
        

        {% if not post.comments.all %}
            Be the first one to comment on this post
        {% else %}
            
            {% for comment in post.comments.all %}
                <strong>
                    {{ comment.author }} | 
                    {{ comment.date_added }}
                </strong>
                <br>
                {{ comment.content }}
                <br>
                {% if post.author == user %}
                <div>
                    <a class="btn btn-secondary btn-xs mt-1 mb-1" href="{% url 'post-comment-update' post.id comment.id %}">Update</a>
                    <a class="btn btn-danger btn-xs mt-1 mb-1" href="{% url 'post-comment-delete' post.id comment.id %}">Delete</a>
                </div>
                <br>
                {% endif %}
            {% endfor %}
        {% endif %}    

        

    </article>
{% endblock content %}